@CHARSET "UTF-8";

.top {
	background: #000000;
	color: #ffffff;
	padding: 16px 0;
}

.brand {
	margin-top: -10px;
	margin-bottom: -10px;
	margin-left: 30px;
	font-size: 28px;
	font-family: cursive;
	font-weight: bold;
}

.login-signup {
	margin-right: 20px;
}