@CHARSET "UTF-8";

.register-title {
	margin-top: 100px;
}

.form-content {
	width: 300px;
}

input {
	margin-bottom: 20px;
}

input[type="text"] {
	width: 95%;
	height: 25px;
}

input[type="password"] {
	width: 95%;
	height: 25px;
}